<footer>
    <div>
        <a href="http://<%= data.server %>:<%= data.port %>/help/getvendor">getvendor</a>
    </div>
    <div>
        <a href="http://<%= data.server %>:<%= data.port %>/help/getproduct">getproduct</a>
    </div>
    <div>
        <a href="http://<%= data.server %>:<%= data.port %>/help/getvendors">getvendors</a>
    </div>
    <div>
        <a href="http://<%= data.server %>:<%= data.port %>/help/getproducts">getproducts</a>
    </div>
    <div>
        <a href="http://<%= data.server %>:<%= data.port %>/help/savevendor">savevendor</a>
    </div>
    <div>
        <a href="http://<%= data.server %>:<%= data.port %>/help/saveproduct">saveproduct</a>
    </div>
</footer>